* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black
}

.main {
    background-image: url(assets/imgs/bg.jpg);
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    margin: auto;
    width: 80vw;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    counter-reset: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.Hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.Hero>:nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.Hero>:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.Hero>:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation {
    height: 11px;
    background-color: gray;
}
.main input{
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color:rgba(23,23,23,0.7);  
    border: 1px solid rgba(237, 230, 230, 0.5);
}
.Hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1 px solid white;
     cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 24px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 70vw;
    height: 70vh;
    margin: auto;
    color: white;
}

.secImg{
    position: relative;
}

.secImg img{
    width: auto;
   position: relative;
   z-index: 10;
}

.secImg video{
    width: auto;
    position: absolute;
    top: 43px;
    left: 73px;
}
section.first > div{
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-weight: bolder;
    font-size: 46px;
}
section.first>div :nth-child(2) {
    font-size: 24px;
}